## Packages

In [1]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.style as style
from matplotlib.ticker import FuncFormatter
%matplotlib inline
style.use('fivethirtyeight')

pd.options.display.max_rows = 100
pd.options.display.max_columns = 20
 
# jupyter notebook setting
import warnings
warnings.filterwarnings('ignore')

from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())
q='select 1'
df = sqldf(q)

%matplotlib inline 
import matplotlib.style as style
style.use('fivethirtyeight')

In [2]:
import os
for dirname, _, filenames in os.walk('/data_directory'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [3]:
# Machine Learning
import scipy.stats as stats
import sklearn.linear_model as linear_model
#import xgboost as xgb
from sklearn.model_selection import KFold
from sklearn.manifold import TSNE
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

## Functions

## EDA etc.

#### missing data check

In [17]:
df = pd.DataFrame([['aaa',None,14159265351,],[1,1,1],[1,1,22],['am','ap','go','fa']])
df.columns=['col1','col2','col3','col4']

total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
display(df, missing_data)

  col1  col2         col3  col4
0  aaa  None  14159265351  None
1    1     1            1  None
2    1     1           22  None
3   am    ap           go    fa

      Total  Percent
col4      3     0.75
col2      1     0.25
col3      0     0.00
col1      0     0.00

#### drop missing data

In [18]:
display(df)
df = df.drop((missing_data[missing_data['Total'] > 1]).index,1)
df = df.drop(df.loc[df['col2'].isnull()].index)
display(df)
df.isnull().sum().max() #just check if there's no missing data

  col1  col2         col3  col4
0  aaa  None  14159265351  None
1    1     1            1  None
2    1     1           22  None
3   am    ap           go    fa

  col1 col2 col3
1    1    1    1
2    1    1   22
3   am   ap   go

0